<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC68a24mcXndcR68dxkkgFB_OknvEnV5ak</string>
	<key>GCM_SENDER_ID</key>
	<string>961493243272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smvm</string>
	<key>PROJECT_ID</key>
	<string>ngo-smvm-16110</string>
	<key>STORAGE_BUCKET</key>
	<string>ngo-smvm-16110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961493243272:ios:051e6b46839df8c390d63d</string>
</dict>
</plist>